PRIMARY_RPC_URL=https://rpc-url
SECONDARY_RPC_URL=https://rpc-url
REQUEST_TIMEOUT=10000
RPC_RATE_LIMIT_MAX=120
TEST_API_KEY=testing_key
WHITELISTED_IPS=123.123.123.123, ::1
SYNC_CHECK_INTERVAL=60000
WARNING_BLOCK_LAG=3
FAILOVER_BLOCK_LAG=5
ALERT_THROTTLE_MS=60000

BUNDLER_URL=https://api.pimlico.io/v2/100/rpc?apikey=...
ENTRYPOINT_ADDRESS=0x4337084d9e255ff0702461cf8895ce9e3b5ff108
PAYMASTER_PAIRS=label:0x...:0x...,label2:0x...:0x...
BUNDLER_GAS_PRICE_TTL_MS=2000
BUNDLER_SEND_DEDUP_TTL_MS=5000
PAYMASTER_LOW_DEPOSIT=1.5
PAYMASTER_MIN_DEPOSIT=0.3
PAYMASTER_DEPOSIT_CHECK_MS=300000
PAYMASTER_DEPOSIT_ALERT_MS=3600000