.title {
    text-align: left;
    font: normal normal bold var(--op-font-size-bigger) 'op__roboto--slab';
}

.link {
	font-stretch: extra-expanded;
	text-align: center;
	cursor: pointer;
}

.link:hover {
	color: var(--op-blue-dark);
}
