NEXT_PUBLIC_REGISTER_URL=
NEXT_PUBLIC_SVS_URL=
NEXT_PUBLIC_SUBGRAPH_URL=
NEXT_PUBLIC_RPC_URL=

NEXT_PUBLIC_OPNVOTE_ADDRESS=
NEXT_PUBLIC_PAYMASTER_ADDRESS=
NEXT_PUBLIC_DELEGATION_ADDRESS=
NEXT_PUBLIC_ENTRYPOINT_ADDRESS=
