.flex {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    text-align: center;;
    flex: 1 1;
}

.itemvalue {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 1rem;
    width: 100%;
}

.itemheadline {
    border-top: 1px dotted #ccc;
    padding: 0rem;
    font-size: 1.2rem;
}

@media only screen and (min-width: 600px) {
    .flex {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .item {
        flex: 1 1 0;
        width: 40%;
        padding: 1rem;
    }
}