DEPLOYED_CONTRACT_ADDRESS=
RPC_URL=

DEPLOYER_ACCOUNT=deployer
REGISTER_ACCOUNT=register

ELECTION_PUBKEY=
REGISTER_KEY_N=
REGISTER_KEY_E=0x010001
ELECTION_PRIVKEY=

IPFS_SERVER_URL=
IPFS_SIGNER_PRIVATE_KEY=

AP_ID=0
REGISTER_ID=0
SVS_ID=0
DEMO_ELECTION_BASE_ID=19
