DEPLOYER_PRIV_KEY=

# EntryPoint v0.8
ENTRY_POINT=0x4337084d9e255ff0702461cf8895ce9e3b5ff108

VERIFYING_SIGNER=

OPNVOTE_CONTRACT_ADDRESS=

SPONSOR_MODE=0  # 0 = SIG_ONLY, 1 = SIG_OR_RULES, 2 = RULES_ONLY
ACCOUNT_IMPLEMENTATION_ADDRESS=
MAX_OPS_PER_ELECTION=10
MAX_COST_CAP= # wei; max prefund per op (e.g. 50000000000000000 = 0.05 xDAI)
MAX_FEE_PER_GAS_CAP= # in wei per gas (e.g. 50000000000 = 50 gwei)

PAYMASTER_ADDRESS=

DEPOSIT_AMOUNT=1000000000000000 # 0.001
STAKE_AMOUNT=1000000000000000 # 0.001
UNSTAKE_DELAY_SEC=86400 # 1d

