GRAPHQL_ENDPOINT=https:/...
TEST_API_KEY=test...
ALERT_THROTTLE_MS=60000

PORT=3000
REQUEST_TIMEOUT=10000
MAX_QUERY_SIZE=10000
RPC_RATE_LIMIT_MAX=60
RPC_RATE_LIMIT_MAX_TEST=5000
WHITELISTED_IPS=123.123.123.123, ::1