DEPLOYER_ADDRESS=
START_ID=0
DEPLOYED_CONTRACT_ADDRESS=

AP_OWNER_ADDRESS=
AP_ID=0
AP_NAME=OpenPetition AP
AP_URI=https://www.openpetition.de/ap/

REGISTER_OWNER_ADDRESS=
REGISTER_ID=0
REGISTER_NAME=OpenVote Register
REGISTER_URI=https://register.opn.vote

SVS_OWNER_ADDRESS=
SVS_ID=0
SVS_NAME=OpenVote SVS
SVS_URI=https://svs.opn.vote

VOTER_ADDRESS=

# Election
ELECTION_ID=0
ELECTION_START_TIME=
ELECTION_END_TIME=
REGISTRATION_START_TIME=
REGISTRATION_END_TIME=
ELECTION_CID=
ELECTION_PUBKEY=
ELECTION_PRIVATE_KEY=
CANCEL_REASON_CID=

REGISTER_ELECTION_N=
REGISTER_ELECTION_D=
REGISTER_ELECTION_E=0x010001
