.btn {
    border-radius: 0.2rem;
    border: 1px solid transparent;
    margin: .25rem 0;
    padding: .25rem .5rem;
}

.primary {
    color: white;
    background-color: var(--op-blue-main);
    font-weight: 600;
    text-transform: uppercase;
    padding: var(--op-padding-standard);
}

.primary:disabled {
    color: var(--op-grey);
    background-color: var(--op-grey-light);
}

.primary_light {
    color: white;
    background-color: var(--op-blue-main);
    font-weight: 200;
    padding: .25rem var(--op-padding-standard);
    text-transform: none;
}

.secondary {
    background-color: white;
    color: var(--op-blue-main);
    border: 1px solid var(--op-blue-main);
}

.dark {
    color: white;
    background-color: var(--op-blue-dark);
}

.hide {
    display: none;
    visibility: hidden;
}

.secondary-arrow {
    background-color: white;
    color: var(--op-blue-main);
    border: 1px solid var(--op-blue-main);
    background-repeat: no-repeat;
    padding-right: 2rem;
    background-position: right 10px center;
}