.btn {
    border-radius: 0.2rem;
    border: 1px solid transparent;
    margin: .25rem 0;
    padding: .25rem .5rem;
}

.primary {
    color: white;
    background-color: var(--op-blue-main);
}

.primary:disabled {
    color: lightgray;
    background-color: var(--op-blue-dark);
}

.secondary {
    background-color: white;
    color: var(--op-blue-main);
    border: 1px solid var(--op-blue-main);
}

.dark {
    color: white;
    background-color: var(--op-blue-dark);
}

.hide {
    display: none;
    visibility: hidden;
}
