.btn {
    border-radius: 0.2rem;
    border: 1px solid transparent;
    padding: .25rem .5rem;
}

.primary {
    color: white;
    background-color: var(--op-blue-main);
    text-transform: uppercase;
    padding: 1rem;
    font: normal normal bold var(--op-font-size-standard) 'op__roboto';
    letter-spacing: 0px;
}

.primary:disabled {
    color: var(--op-grey);
    background-color: var(--op-grey-light);
}

.primary_light {
    color: white;
    background-color: var(--op-blue-main);
    padding: .25rem var(--op-padding-standard);
    text-transform: none;
    font: normal normal 300 var(--op-font-size-standard) 'op__roboto';
    letter-spacing: 0px;
}

.secondary {
    background-color: white;
    color: var(--op-blue-main);
    border: 1px solid var(--op-blue-main);
    padding: 1rem;
}

.dark {
    color: white;
    background-color: var(--op-blue-dark);
}

.hide {
    display: none;
    visibility: hidden;
}

.secondary-arrow {
    background-color: white;
    color: var(--op-blue-main);
    border: 1px solid var(--op-blue-main);
    background-repeat: no-repeat;
    padding-right: 2rem;
    background-position: right 10px center;
}
