.timer_mainbox {
    margin: .5rem auto;
    display: flex;
    flex-direction: column !important;
    gap: .5rem;
    width: 100%;
    text-align: center;
}

.timer_headline {
    font-weight: bold;
}

@media only screen and (min-width: 1024px) {
    .timer_mainbox {
        margin: 0;
    }
}
