.greyblock {
	background-color: var(--op-grey-light);
}

.greyblockcontent {
	max-width: var(--op-max-width-layout);
	display: flex;
	flex-direction: column;
	padding: 32px;
}

.greyblock .logo {
	padding-top: 30px;
	margin: 0 auto;
}

.link {
	text-decoration: none;
	color: white;
	font-weight: normal;
}

.link:after {
	margin: 0 10px;
	content: '|';
}

.link:last-child:after {
	content: "";
	margin: 0;
}

.checkmarks {
	display: flex;
	justify-content: space-around;
	font-weight: bold;
}

.checkmark {
	padding-right: .4rem;
	font-size: 0.9rem;
	font-weight: bold;
}

.checkmark::before {
	content: '\2714';
	color: var(--op-blue-main);
	margin-right: .4rem;
}

.textblock {
	background-color: var(--op-grey-dark);
	color: white;
	font-size: 0.8rem;
}

.textblockcontent {
	max-width: var(--op-max-width-layout);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 15px 32px;
}

.icon {
	display: inline-block;
	margin-left: 1.5vw;
}

.copyright {
	display: flex;
	align-items: center;
	gap: 5px;
}

@media only screen and (min-width: 600px) {

	.greyblockcontent,
	.textblockcontent {
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
	}

	.greyblock .logo {
		padding-top: 0;
		margin: 0;
	}

	.checkmarks {
		align-items: center;
		column-gap: 3.5vw;
	}

	.checkmark {
		padding-right: 1rem;
		font-size: 1rem;
	}

	.checkmark::before {
		margin-right: 1rem;
	}

	.icons {
		margin: 0;
	}

	.links {
		margin-left: auto;
	}
}

@media only screen and (min-width: 1024px) {
	.greyblockcontent {
		padding: 32px var(--op-padding-standard);
	}

	.textblockcontent {
		padding: 15px var(--op-padding-standard);
	}
}
