.box {
    background-color: var(--op-blue-main);
}

.blueheartbox {
    max-width: var(--op-max-width-layout);
    color: #FFF;
    position: relative;
    padding: 28px;
    margin: 64px auto 0;
    text-align: center;
}

.heart {
    position: absolute;
    background-color: var(--op-blue-main);
    width: 64px;
    height: 64px;
    top: -32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 32px;
    border: 1px transparent;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textblock {
    font: normal normal bold var(--op-font-size-bigger) 'op__roboto--slab';
}

@media only screen and (min-width: 600px) {
    .blueheartbox {
        padding: 28px 0;
    }
}