.loadingbox {
    padding: 0.5rem;
    text-align: center;
}

.loader {
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.small {
    border-width: 2px;
    width: 18px;
    height: 18px;
    border-color: var(--op-grey-dark);
    border-bottom-color: transparent;
}

.default {
    border-width: 5px;
    width: 40px;
    height: 40px;
    border-color: var(--op-blue);
    border-bottom-color: transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}