.innerbox {
    position: relative;
    text-align: left;
    background-repeat: no-repeat;
    padding-right: 2rem;
    background-position: right 10px center;
    background-size: .5rem;
}

.innerbox:hover {
    cursor: pointer;
}

.innerbox button {
    margin-top: 1rem;
}

@media only screen and (min-width: 600px) {

    .innerbox button {
        display: block;
        margin: 0;
        margin-top: 1rem;
    }
}