.header {
    text-align:center;
    padding: .5rem .5rem 1rem 0;
}

.innerbox {
    background-color: #FFFFFF;
    padding: 45px 0;
    border-radius: .5rem;
}

.qrbg  {
    display: none;
}

@media only screen and (min-width: 600px) {
    .header {
        text-align:left;
        display: flex;
    }

    .qrbg {
        display: inline-block;
        margin-right: 1rem;
    }
}
