@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --op-blue: #A9DFEB;
  --op-blue-main: #29b0cc;
  --op-blue-dark: #0d6c7f;
  --op-grey-light: #efefef;
  --op-grey-dark: #3e3d40;
  --op-blue-light: #D4EFF5;
  --op-grey-main: #EFEFEF;

  --op-max-width-layout: 1160px;
  --op-padding-standard: .5rem;
}

body {
  color: #3e3d40;
}

a {
  color: #29b0cc;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}

.op__center-align {
  text-align: center;
}

.op__padding_standard {
  padding: var(--op-padding-standard);
}

.op__padding_standard_left {
  padding-left: .5rem;
}

.op__padding_standard_right {
  padding-right: .5rem;
}

.op__padding_standard_top {
  padding-top: var(--op-padding-standard);
}

.op__padding_standard_top_bottom {
  padding: var(--op-padding-standard) 0;
}

.op__padding_standard_left_right {
  padding: 0 var(--op-padding-standard);
}

.op__margin_standard_left {
  margin-left: var(--op-padding-standard);
}

.op__margin_minus_3_top {
  margin-top: -3rem;
}

.op__contentbox_760 {
  max-width: 760px;
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 1rem;
}

.op__contentbox_max {
  max-width: var(--op-max-width-layout);
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.op__outerbox_grey {
  display: block;
  margin: 1rem auto;
  padding: .5rem;
  border: 1 px solid #000;
  background-color: var(--op-grey-main);
  text-align: center;
  border-radius: .5rem;
  position: relative;
}

.op_innerbox_border-text {
  border: 1px solid #000;
  position: relative;
  margin: 5px;
}

.op__mob_padding_standard_left_right {
  padding-left: .5rem;
  padding-right: .5rem;
}

.op__display_none_small {
  display: none;
}

.op__display_inline_small {
  display: inline;
}

.op__display_block_small {
  display: block
}

.hover {
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .op__display_none_wide {
    display: none;
  }

  .op__display_inline_wide {
    display: inline;
  }

  .op__display_inline_block_wide {
    display: inline-block;
  }

  .op__display_block_wide {
    display: block;
  }

  .op__contentbox_760,
  .op__mob_padding_standard_left_right {
    padding-left: 0;
    padding-right: 0;
  }
}

/* this below can be ignored as its old and not reworded with the new styles*/

.bg-op {
  background-color: #A9DFEB;
}

#logo {
  top: 80px;
  left: 121px;
  width: 192px;
  height: 68px;
  /* UI Properties */
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen {
  .noPrint {}

  .noScreen {
    display: none;
  }
}

@media print {
  .noPrint {
    display: none;
  }

  .noScreen {}
}