@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --op-white: #ffffff;
  --op-blue: #A9DFEB;
  --op-blue-main: #29b0cc;
  --op-blue-dark: #0d6c7f;
  --op-grey-light: #efefef;
  --op-grey: #c9c8c8;
  --op-grey-dark: #3e3d40;
  --op-blue-light: #D4EFF5;
  --op-grey-main: #EFEFEF;

  --op-max-width-layout: 1160px;
  --op-padding-standard: .5rem;

  --op-link-color-main: var(--op-blue-main);

  --op-font-size-standard: 16px/23px;
  --op-font-size-bigger: 18px/24px;
}

@font-face {
  font-family: 'op__roboto';
  font-display: fallback;
  src: local('Roboto Light'), local('Roboto-Light'), local('RobotoLight'), url("/fonts/Roboto/Roboto-Light.woff2") format('woff2'), url("/fonts/Roboto/Roboto-Light.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'op__roboto';
  font-display: fallback;
  src: local('Roboto Bold'), local('Roboto-Bold'), local('RobotoBold'), url("/fonts/Roboto/Roboto-Bold.woff2") format('woff2'), url("/fonts/Roboto/Roboto-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'op__roboto';
  font-display: fallback;
  src: local('Roboto Black'), local('Roboto-Black'), local('RobotoBlack'), url("/fonts/Roboto/Roboto-Black.woff2") format('woff2'), url("/fonts/Roboto/Roboto-Black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'op__roboto--slab';
  font-display: fallback;
  src: local('Roboto Slab Bold'), local('Roboto-Slab-Bold'), local('RobotoSlab-Bold'), local('RobotoSlabBold'), url("/fonts/RobotoSlab/RobotoSlab-Bold.woff2") format('woff2'), url("/fonts/RobotoSlab/RobotoSlab-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  color: #3e3d40;
  font: normal var(--op-font-size-standard) 'op__roboto', sans-serif;
}

a {
  color: #29b0cc;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}

.op__center-align {
  text-align: center;
}

.op__padding_standard {
  padding: var(--op-padding-standard);
}

.op__padding_standard_left {
  padding-left: .5rem;
}

.op__padding_standard_right {
  padding-right: .5rem;
}

.op__padding_standard_top {
  padding-top: var(--op-padding-standard);
}

.op__padding_standard_bottom {
  padding-bottom: var(--op-padding-standard);
}

.op__padding_standard_top_bottom {
  padding: var(--op-padding-standard) 0;
}

.op__padding_standard_left_right {
  padding: 0 var(--op-padding-standard);
}

.op__margin_standard_left {
  margin-left: var(--op-padding-standard);
}

.op__margin_minus_3_top {
  margin-top: -3rem;
}

.op__margin_2_top {
  margin-top: 2rem;
}

.op__margin_2_bottom {
  margin-bottom: 2rem;
}

.op__margin_standard_top_bottom {
  margin-top: var(--op-padding-standard);
  margin-bottom: var(--op-padding-standard);
}

.op__margin_1_top_bottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.op__contentbox_760 {
  max-width: 760px;
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.op__contentbox_max {
  max-width: var(--op-max-width-layout);
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.op__outerbox_grey {
  display: block;
  margin: 1rem auto;
  padding: 1.25rem;
  border: 1 px solid #000;
  background-color: var(--op-grey-main);
  text-align: center;
  border-radius: .5rem;
  position: relative;
}

.op_innerbox_border-text {
  border: 1px solid #000;
  position: relative;
  margin: 5px;
}

.op__mob_padding_standard_left_right {
  padding-left: .5rem;
  padding-right: .5rem;
}

.op__display_none_small {
  display: none;
}

.op__display_inline_small {
  display: inline;
}

.op__display_block_small {
  display: block
}

.op__width_100 {
  width: 100%;
}

.hover {
  cursor: pointer;
}

.text_small {
  font-size: 0.875rem
    /* 14px */
  ;
  line-height: 1.25rem
    /* 20px */
  ;
}

.text_xlarge {
  font-size: 1.5rem
    /* 24px */
  ;
  line-height: 2rem
    /* 32px */
  ;
}

@media only screen and (min-width: 800px) {
  .op__display_none_wide {
    display: none;
  }

  .op__display_inline_wide {
    display: inline;
  }

  .op__display_inline_block_wide {
    display: inline-block;
  }

  .op__display_block_wide {
    display: block;
  }

  .op__contentbox_760,
  .op__mob_padding_standard_left_right {
    padding-left: 0;
    padding-right: 0;
  }
}

/* this below can be ignored as its old and not reworded with the new styles*/

.bg-op {
  background-color: #A9DFEB;
}

#logo {
  top: 80px;
  left: 121px;
  width: 192px;
  height: 68px;
  /* UI Properties */
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen {
  .noPrint {}

  .noScreen {
    display: none;
  }
}

@media print {
  .noPrint {
    display: none;
  }

  .noScreen {}
}