@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	--op-white: #ffffff;
	--op-blue: #A9DFEB;
	--op-blue-main: #29b0cc;
	--op-blue-dark: #0d6c7f;
	--op-grey-light: #efefef;
	--op-grey: #c9c8c8;
	--op-grey-dark: #3e3d40;
	--op-blue-light: #D4EFF5;
	--op-grey-main: #EFEFEF;
	--op-grey-border: #BEBEBE;
	--op-grey-icon: #CFCFCF;


	--op-medium-width-layout: 760px;
	--op-large-width-layout: 960px;
	--op-max-width-layout: 1160px;

	--op-padding-small: .6255rem; 		/*10px*/
	--op-padding-standard: .9375rem;	/*15px*/
	--op-padding-standard--20: 1.25rem; /*20px*/
	--op-padding-large: 1.875rem; 		/*30px*/

	--op-border-radius: 4px;

	--op-link-color-main: var(--op-blue-main);

	--op__roboto: 'op__roboto';
	--op__roboto--slab: 'op__roboto--slab';
	--op-font-size-standard: 1rem/1.4375rem;
	--op-font-size-bigger: 1.125rem/1.5rem;

	--op-viewport--small: 660px; 		/* checken warum 660 oder lieber 760 px nutzen????*/
	--op-viewport--medium: 960px;
	--op-viewport--large: 1200px;

}

@font-face {
	font-family: 'op__roboto';
	font-display: fallback;
	src: local('Roboto Light'), local('Roboto-Light'), local('RobotoLight'), url("/fonts/Roboto/Roboto-Light.woff2") format('woff2'), url("/fonts/Roboto/Roboto-Light.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'op__roboto';
	font-display: fallback;
	src: local('Roboto Bold'), local('Roboto-Bold'), local('RobotoBold'), url("/fonts/Roboto/Roboto-Bold.woff2") format('woff2'), url("/fonts/Roboto/Roboto-Bold.woff") format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'op__roboto';
	font-display: fallback;
	src: local('Roboto Black'), local('Roboto-Black'), local('RobotoBlack'), url("/fonts/Roboto/Roboto-Black.woff2") format('woff2'), url("/fonts/Roboto/Roboto-Black.woff") format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'op__roboto--slab';
	font-display: fallback;
	src: local('Roboto Slab Bold'), local('Roboto-Slab-Bold'), local('RobotoSlab-Bold'), local('RobotoSlabBold'), url("/fonts/RobotoSlab/RobotoSlab-Bold.woff2") format('woff2'), url("/fonts/RobotoSlab/RobotoSlab-Bold.woff") format('woff');
	font-weight: bold;
	font-style: normal;
}

body {
	color: #3e3d40;
	font: normal var(--op-font-size-standard) 'op__roboto', sans-serif;
}

a {
	color: #29b0cc;
	font-weight: bold;
	cursor: pointer;
}

a.op__arrow-right {
	padding-right: .625rem;
}

a.op__arrow-right:after {
	transition: all 0.3s ease;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2329b0cc' width='15' height='7.373' viewBox='0 0 15 7.373'%3E%3Cpath class='a' d='M10.511,148.241H.4a.4.4,0,0,0-.4.4v1.875a.4.4,0,0,0,.4.4h10.11v1.542a.8.8,0,0,0,1.372.568l2.881-2.881a.8.8,0,0,0,0-1.136l-2.881-2.881a.8.8,0,0,0-1.372.568Z' transform='translate(0 -145.894)'/%3E%3C/svg%3E");
	display: inline-block;
	padding-left: .3125rem;
	font-size: 1rem;
}

a.op__arrow-right:hover:after {
	transform: translateX(.3125rem);
}

h3 {
	font-weight: bold;
}

h4 {
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	margin: 1rem 0 0.5rem 0;
}

hr {
	border-top: 1px solid var(--op-grey-dark);
}

hr:last-child {
	display: none
}

.op__center-align {
	text-align: center;
}

.op__padding_small_top {
	padding-top: var(--op-padding-small);
}

.op__padding_standard {
	padding: var(--op-padding-standard);
}

.op__padding_standard_left {
	padding-left: .5rem;
}

.op__padding_standard_right {
	padding-right: .5rem;
}

.op__padding_standard_top {
	padding-top: var(--op-padding-standard);
}

.op__padding_standard_bottom {
	padding-bottom: var(--op-padding-standard);
}

.op__padding_standard_top_bottom {
	padding: var(--op-padding-standard) 0;
}

.op__padding_standard_left_right {
	padding: 0 var(--op-padding-standard);
}

.op__padding_vertical {
	padding-top: var(--op-padding-small);
	padding-bottom: var(--op-padding-large);
}

.op__padding_standard_20 {
	padding: var(--op-padding-standard--20);
}

.op__padding_large {
	padding: var(--op-padding-large);
}

.op__margin_left_auto {
	margin-left: auto;
}

.op__margin_standard_top {
	margin-top: var(--op-padding-standard);
}

.op__margin_standard_right {
	margin-right: var(--op-padding-standard);
}

.op__margin_standard_left {
	margin-left: var(--op-padding-standard);
}

.op__margin_standarddouble_right {
	margin-right: calc(var(--op-padding-standard) * 1.25);
}

.op__margin_minus_3_top {
	margin-top: -3rem;
}

.op__margin_2_top {
	margin-top: 2rem;
}

.op__margin_2_bottom {
	margin-bottom: 2rem;
}

.op__margin_standard {
	margin: var(--op-padding-standard);
}

.op__margin_standard_top_bottom {
	margin-top: var(--op-padding-standard);
	margin-bottom: var(--op-padding-standard);
}

.op__margin_standard_20_top_bottom {
	margin-top: var(--op-padding-standard--20);
	margin-bottom: var(--op-padding-standard--20);
}

.op__margin_standard_20_top {
	margin-top: var(--op-padding-standard--20);
}

.op__margin_standard_left_right {
	margin: 0 var(--op-padding-standard);
}

.op__margin_1_top_bottom {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.op__contentbox_760 {
	max-width: 760px;
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media only screen and (min-width: 960px) {
	.op__contentbox_960 {
		width: var(--op-large-width-layout);
		margin: auto;
	}
}

.op__contentbox_max {
	max-width: var(--op-max-width-layout);
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	margin: 0 auto;
	flex-direction: column;
}

.op__outerbox_grey {
	display: block;
	padding: 1.25rem;
	background-color: var(--op-grey-main);
	text-align: center;
	border-radius: .5rem;
	position: relative;
}

.op_innerbox_border-text {
	border: 1px solid #000;
	position: relative;
	margin: 5px;
}

.op__mob_padding_standard_left_right {
	padding-left: .5rem;
	padding-right: .5rem;
}

.op__position_relative {
	position: relative;
}

.op__display_none_small {
	display: none;
}

.op__display_inline_small {
	display: inline;
}

.op__display_block_small {
	display: block
}

.op__width_100 {
	width: 100%;
}

.hover {
	cursor: pointer;
}

.op__flex_box {
	display: flex;
	align-items: center;
}

.text_small {
	font-size: 0.875rem
		/* 14px */
	;
	line-height: 1.25rem
		/* 20px */
	;
}

.text_xlarge {
	font-size: 1.5rem
		/* 24px */
	;
	line-height: 2rem
		/* 32px */
	;
}


/* global layout behaviour elements */
.op__header {
	top: 0;
	z-index: 1000;
	height: 70px;
}

.op__main {
	margin-top: 70px;
}

.op__flex {
	display: flex;
}

.op__flex_center_align {
	align-items: center;
}

.op__flex_center-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.op__flex_direction_column_small {
	flex-direction: column;
}

.op__flex_grow_standard {
	flex: 1 1 0px;
}

.op__gap_10_small {
	gap: 10px;
}

.op__gap_30 {
	gap: 30px;
}

.op__overflowwrap_breakword {
	overflow: hidden;
	overflow-wrap: break-word;
}

@media only screen and (min-width: 800px) {

	/* layout behaviour elements */
	.op__header {
		display: block;
		height: 110px;
	}

	.op__main {
		margin-top: 0px;
	}


	.op__flex_direction_row_wide {
		flex-direction: row;
	}

	.op__gap_30_wide {
		gap: 30px;
	}

	.op__display_none_wide {
		display: none;
	}

	.op__display_inline_wide {
		display: inline;
	}

	.op__display_inline_block_wide {
		display: inline-block;
	}

	.op__display_block_wide {
		display: block;
	}

	.op__contentbox_760,
	.op__mob_padding_standard_left_right {
		padding-left: 0;
		padding-right: 0;
	}
}


@media only screen and (min-width: 1200px) {

	.op__display_none_wide_xl {
		display: none;
	}

	.op__display_inline_wide_xl {
		display: inline;
	}

	.op__display_inline_block_wide_xl {
		display: inline-block;
	}

	.op__display_block_wide_xl {
		display: block;
	}
}

.op__wrapper__flex {
	display: flex;
	flex-direction: column;
}

/* this below can be ignored as its old and not reworded with the new styles*/

.bg-op {
	background-color: #A9DFEB;
}

#logo {
	top: 80px;
	left: 121px;
	width: 192px;
	height: 68px;
	/* UI Properties */
	opacity: 1;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@media screen {
	.noPrint {}

	.noScreen {
		display: none;
	}
}

@media print {
	.noPrint {
		display: none;
	}

	.noScreen {}
}